#menu_flotante{
   position: fixed;
  text-align: center;
  bottom: 0;
  /* margin-top: -25px; */
  left: 0;
  /* background: url("http://la.eonline.com/experience/theroyals/ElasticSVGElements/placa.svg") no-repeat center right; */
  /* background: #9b0a00; */
  width: 100%;
  height: 40px;
  z-index: 900;
  background: rgba(0,0,0,0.87);
}

.menu {
	position: relative;
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
}

.trigger {
	background: none;
	width: 30px;
	height: 80px;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	text-align: center;
	font-size: 1.5em;
	color: #fff;
	position: relative;
	z-index: 1000;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}

.trigger span {
	opacity: 0;
	position: absolute;
}

.menu__items {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style-type: none;
	z-index: 5;
}

.menu__items li {
  display: inline-block;
  line-height: 80px;
  font-size: 1.2em;
  z-index: -1;
  margin-top: 7px;
  color: #fff;
}

.menu__items li a {
	display: block;
	color: #fff;
	margin: 6px
}
.menu__items li.what {
	display: none;
}