@charset "utf-8";
/* Owl Carousel Bootstrap Custom CSS */


@font-face {
    font-family: 'FuturaCondensed';
    src: url('fonts/fuc.eot');
    src: url('fonts/fuc.eot?#iefix') format('embedded-opentype'),
        
         url('fonts/fuc.woff') format('woff'),
         url('fonts/fuc.ttf') format('truetype'),
         url('fonts/fuc.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: 'FuturaCondensed',sans-serif;
    line-height: 22px;
	margin: 0 auto;
	background: #020312;
}

h1.titulo{
	font-family: 'FuturaCondensed',sans-serif;
    line-height: 28px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}




/* Demo Slides */

#owl-example .item{
	padding: 30px 0px;
	margin: 10px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-align: center;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{
	font-size: 28px;
	font-weight: 300;
	margin: 25px 0 0;
}
#owl-example .item h4{
	margin: 5px 0 0;
	font-size: 18px;
}
.item h1{
	margin: inherit;
}

.orange{
	background: #ff8a3c;
}
.darkCyan{
	background: #42bdc2;
}
.forestGreen{
	background: #7fc242;
}
.yellow {
	background: #ffd800;
}
.dodgerBlue {
	background: #388bd1;
}
.skyBlue {
	background: #a1def8;
}
.zombieGreen {
	background: #3fbf79;
}
.violet {
	background: #db6ac5;
}
.yellowLight {
	background: #fee664;
}
.steelGray {
	background: #cad3d0;
}

/* More Demo Box */

#example-info h1,
#more h1{
	margin-top: 40px;
}
.demos-row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.demo-page{
	margin-top: 0px;
	margin-bottom: 100px;
}
.demo-box{
	display: block;
	background: #f3f3f3;
	text-align: center;
	font-size: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.demo-box h3{
	padding-bottom:20px;
	margin: 0px;
	color: #869690;
}
.demo-box:hover{
	text-decoration: none;
}
.demo-wrapper{
	padding: 30px 0px 20px 0px;
	padding-left: 30px;
	padding-right: 30px;
}
.demo-slide {
	float: left;
}
.demo-slide .bg{
	background: #aebab6;
	margin-right: 1px;
	height: 100%;
}
.demo-box:hover .demo-slide .bg{
	background: #7fc242;
}
/* Images */
.demo-images .demo-slide{
	height: 40px;
	width: 33.3333333%;
}

/* Full */
.demo-full {
	padding-left: 0px;
	padding-right: 0px;
}
.demo-full .demo-slide{
	height: 40px;
	width: 25%;
}

/* Custom */
.demo-custom .demo-slide{
	height: 40px;
	width: 10%;
}
/* One */
.demo-one .demo-slide{
	height: 40px;
	width: 100%;
}

/* json */

.demo-Json .demo-slide {
	height: 40px;
	width: 20%;
}
.demo-Json-custom .demo-slide{
	height: 40px;
	width: 33.3333333%;
}
/* loading icon */

.demo-lazy .demo-slide{
	height: 40px;
	width: 33.3333333%;
}
.demo-lazy .demo-slide .bg{
background: url('../img/AjaxLoader.gif') no-repeat center center #aebab6;
}

/* Auto Height */
.demo-height .demo-slide{
	height: 40px;
	width: 100%;
}

/* Changelog  */
#changelog{
	margin-bottom: 40px;
}
#changelog .label{
	margin-bottom:10px;
}
#changelog .log{
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e1e6dd;
}
/* Faq */
#faq dt {
	line-height: 26px;
}
#faq dd{
	line-height: 22px;
	margin-bottom: 20px;
}



/*

*/

#demo{
		background: #020312;
		padding-bottom: 20px;
		max-width: 960px;
		margin: 0 auto;
		position: relative;
	}

.owl-item{
	/*border: solid green 1px;
	background: red;
	*/

	}

    #owl-demo .item{
       display: block;
      width: 100%;
      height: auto;
    }

.pregunta{
 background: #9b0a00;
  padding: 24px;
  color: #fff;
  font-size: 24px;
	margin: 20px 15px;
	text-align: center;
    line-height: 28px;
}
.pregunta span{
 color: #ffd87c;
}

.item ul{
  padding: 15px;
  margin: 0;
  /* padding: 10px !important; */
  text-align: center;
}

.item li {
    position: relative;
	display: inline-block;
    padding: 0;
    margin: 5px 5px 9px 5px!important;
    /*min-height: 215px;
    background: #D8D8D8;*/
	  cursor: pointer;
	  border: solid #D8D8D8 10px;
}


.item li a{
	display: block;
    background: #FFF;
    text-align: center;
    color: #333;
    font-size: 18px;
    text-decoration: none;
}



.item li a:hover{
	/*border: solid #fc5452 5px !important;*/
    /*box-shadow: 0px 0px 0px 5px #fc5452 inset !important;*/
	/*outline: 3px solid red;*/
    /*background:#FF2400 !important;
    opacity:0.7;*/
}



.item li img{
    /*padding: 5%;*/
    width: 100%;
    /*box-shadow: 0px 0px 0px 15px #C8C8C8 inset !important;*/
}

.listaImg{
	/*width: 28%;
	height: 125px;*/
}
.item li.listaImg a{
	overflow:hidden;
}
.listaText{
	width:100%;
    height: 45px;
	-webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
    text-transform: uppercase;
	
}
.listaText a{
	padding: 5px;
}

.owl-buttons{
	font-size: 20px;
}

.respuesta{
  width: 95%;
  margin: 15px auto;
}
.respuesta h1{
	color: #ffd87c;
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
}
.bloque{
  margin: auto;
  text-align: center;
  background: url(http://la.eonline.com/experience/quizzes/assets/img/Pattern-Royals.jpg) top left repeat;
}
.bloque p{
   font-family: 'FuturaCondensed',sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  text-align: left;
   line-height: 30px;
   color: #ffffff;
}
.bloque p strong{
    color: #ffd87c; 
	font-size: 35px;
}
.bloque p span{
	color: #ffffff;
	font-size: 35px;
}

.bloque img{
/*float: left;*/
margin: 20px;
}

.txtResult{

  width: 55%;
  float: left;
   padding-left: 10px;
 
}


.imgResult{
   float: left;
    width: 40%;
}
.imgResult img{
	border: solid #D8D8D8 10px;
}
.volver{
	/*float: right;*/
	font-family: 'CarpeDiem_Light',sans-serif;
	color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 15px;
  padding: 10px;
  font-size: 20px;
 
  background:#9B0A00;
  width: 260px;
  text-align: center;
  cursor: pointer;
  max-width: 200px;
}
.footer{
	font-family: 'CarpeDiem_Light',sans-serif;
	color: #FFF;
	  font-size: 20px;
}

.botFace, .botTwit, .botWhat{
color: white;
  display: inline-block;
  margin: 15px;
  padding: 10px;
	font-size: 2.5em;
  background: #3B579D;
  width: 50px;
  height: 50px;
  text-align: center;
}
.botTwit{
  background: #20B8FF;
}

.botWhat{
  background: #189D0E;
}




/* Responsive Stuff */


@media (max-width: 900px) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0px;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	}
	.txtResult{

		  width: 50%;
		  float: left;
		 
		}


		.imgResult{
		   float: left;
			width: 40%;
		}
	.bloque p{

   font-size: 20px;
   line-height: 22px;

}
	.bloque p strong{

		font-size: 26px;
	}
	.bloque img{
		width: 80%;
	}

}
@media (max-width: 768px) {




	.listaImg {
	  width: 43%;
	  /*height: 140px;*/
	}
	.navbar.navbar-fixed-top{
		position: static;
	}
	.btn.btn-navbar{
		margin: 9px 20px 9px 8px;
		padding: 10px 10px;
	}
	.nav-collapse .nav > li{
		border-top: 1px solid #e1e6dd;
		text-align: center
	}
	#header .logo{
		margin-top:40px;
		margin: 20px auto 0px;
		float: none;
		height: 150px;
	}
	#header {
		text-align: center;
		padding: 60px 0px 30px;
	}
	#header h1{
		margin: 10px 0;
	}
	#header h3{
	margin-bottom: 10px;
	width: auto;
	padding: 0px 20px;
	}
	h1 {
		font-size: 38px;
		margin: 20px 0;
	}
	h2 {
		font-size: 24px;
	}
	h3 {
		font-size: 20px;
	}
	h4 {
		font-size: 16px;
	}
	h5 {
		font-size: 13px;
	}
	h6 {
		font-size: 12px;
	}
	h1.titulo{
		    line-height: 21px;
    		font-size: 21px;
	}

}



/*
NO MORE TABLES!! ;)
*/
@media (max-width: 767px) {

	.hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
		display: block; 
	}
	.hp-table thead tr { 
		display: none;
	}
	.hp-table tr { border: 0px solid #ccc; margin-bottom: 10px; }
	
	.hp-table td:before { 
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}

	.hp-table td:nth-of-type(2):before { 
		content: "Default:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(3):before { 
		content: "Type:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(4):before { 
		content: "Description:";
		font-weight: bold;
	}
	
}

@media (max-width: 480px) {

	.listaImg {
	  width: 80%;
	  /*height: 110px;*/
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	}
	#header {
		text-align: center;
		padding: 20px 0px 20px;
	}
	#header .logo{
		margin-top:0px;
	}

	.bloque{
		width: 90%;
		padding: 5px;
		text-align: center;
	}
	.bloque p{
		font-size: 20px;
		width: 95%;
		line-height: 1.2;
		margin-top: 10px;
		text-align: center;
	}
	.bloque p span{
		font-size: 25px;
	}
	.bloque img {
		float: none !important;
		width: 80%;
	}
	.respuesta{
		/*margin-top: 12% !important;*/
	}
	.respuesta h1 {
		font-size:20px;
		margin-bottom: 10px;
	}
	
	.volver{
		font-size: 15px;
		width: 80%;
	}
	.slick-next, .slick-prev{
		font-size: 11px !important;
		width: 30% !important;
	}

	.item li a{

		font-size: 13px !important;
	}

	.botFace, .botTwit, .botWhat{

		font-size: 1.7em;
	  
	  width: 35px;
	  height: 35px;
	}
	
	
	.txtResult{
		font-size: 13px;
		line-height: 14px;
		width: 100%;
	}
	.imgResult{
			width: 100%;
		}


/* fin media 480px */
}

.boxTxt{
    font-family: 'FuturaCondensed',sans-serif;
  line-height: 35px;
  /*margin: 15px;*/
  text-align: left;
  position: absolute;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  height: 85%;
  line-height: 30px;
  background-color: #33333b;
  color: #fff;
  padding: 5%;
  /*border: solid #D8D8D8 10px;*/
}

.finalizar{
    display: none;
	font-family: 'FuturaCondensed',sans-serif;
	color: #FFF;
  zoom: 1;
  margin: 15px;
  padding: 10px;
  font-size: 24px;
  background: #9B0A00;
  width: 260px;
  text-align: center;
  cursor: pointer;
  border: none;
   text-transform: uppercase;

}





.lnk01{
    /*position: absolute;*/
    margin-left: auto;
	margin-right: auto;
  
    font-family: 'FuturaCondensed',sans-serif;
    color:#ffffff;
    text-transform: uppercase;
	text-decoration: none;
}



.boxImg{
	isolation: isolate;
	background: #9B0A00;
	/*background: #D8D8D8;
	 border: solid #D8D8D8 10px;*/
}
.selectedText {
color: #9b0a00 !important;
}

.selectedImg{
mix-blend-mode: overlay;
}

selectedItem{
}

.pie{
	background: #33333B;
  width: 100%;
  height: 30px;
  padding-top: 10px;
  margin-bottom: 40px;
}
.linkUrl{
	float: left;
	color: #fff;
	text-decoration: none;
	padding-left: 10px;
}
.linkAbz{
	float: right;
	padding-right: 10px;
}
